name: Tests

on: [push, pull_request]

jobs:
  tests:

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python-version: [3.7, 3.8, 3.9]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: dependencies
      run: |
        pip install wheel
        pip install pytest
        python3 setup.py install
    - name: pytest ${{ matrix.os }} - ${{ matrix.python-version }}
      run: |
        pytest
